*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
.section .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    position: fixed;
     backdrop-filter: blur( 40px  );
     -webkit-backdrop-filter: blur( 40px ); 
    /* background-color: #0c675a; */
    border-top: 5px solid rgb(6, 71, 60);
    z-index: 99;
    color: white;
    top: 0;
    gap: 30vw;
}

.section1-top-shadow{
    background-color: rgb(6, 71, 60);
    width: 100vw;
    height: 8px;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 50px 20px rgb(6, 71, 60);
}

.section1 .hero-sec{
    height: 100vh;
     background-color: aqua;
     width: 100%;   
}

 video{
    width: 100%;
    transform: translateY(-25%);
} 

.section2 .info
{
    background-color: rgb(17, 16, 16);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 3vw;
    position: sticky;
    z-index: 90;
}

.infotxt p{
    font-size: 1rem;

}

.section3{
    height: 100Vh;
    width: 100%;
    background-image: url(220524_AI_digital_face2_GettyImages-1173158404-scaled.webp);
    background-size: cover ;
}

.page2-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 98;
    background-color: white;
    transform: translateX(100%);
    transition: transform 330ms ease-in-out;;

}

#menu-img-id{
    position: absolute;
    top: 0;
}

.mbar-txt{
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
    gap: 1vh;

}

.same a{
    color: rgb(50, 50, 50);
    font-size: 2rem;
    text-decoration: none;
}



/* Define common styles */
.same {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
  }
  

  /* Additional styles for the background image container */
  .m-img {
     
    height: 100vh;
    width: 40vw;

 background-size: cover;
    background-repeat: no-repeat;  }
  
  
  .m1:hover ~ .m-img {
    /* background-image: url('Mastery.webp');  */
    background-color: blue;
  }
  
  .m2:hover ~ .m-img {
    background-image: url('ICONS.webp'); /* Replace 'm2-background.jpg' with the path to your image */
  }
  
  .m3:hover ~ .m-img {
    background-image: url('Couture.webp'); /* Replace 'm3-background.jpg' with the path to your image */
  }
  
  .m4:hover ~ .m-img {
    background-image: url('4-1.webp'); /* Replace 'm4-background.jpg' with the path to your image */
  }
  

  .section2 {
    
  }
  
  .infotxt {
    opacity: 0; /* Initially hide each infotxt */
  }
  
  /* Define animation */
  @keyframes fadeIn {
    0% {
      opacity: 0; /* Start with opacity 0 */
    }
    100% {
      opacity: 1; /* End with opacity 1 */
    }
  }
  
  /* Apply animation to each infotxt with a delay */
  .infotxt:nth-child(2) {
    animation: fadeIn 1s ease forwards; /* Adjust animation duration as needed */
    animation-delay: 0.5s; /* Delay for the first infotxt */
  }
  
  .infotxt:nth-child(3) {
    animation: fadeIn 1s ease forwards; /* Adjust animation duration as needed */
    animation-delay: 1s; /* Delay for the second infotxt */
  }
  
  .infotxt:nth-child(4)  {
    animation: fadeIn 1s ease forwards; /* Adjust animation duration as needed */
    animation-delay: 1.5s; /* Delay for the third infotxt */
  }
  .infotxt:nth-child(1)  {
    animation: fadeIn 1s ease forwards; /* Adjust animation duration as needed */
    animation-delay: 2s; /* Delay for the third infotxt */
  }
  
  .page2-button{
    animation: fadeIn 1s ease forwards; 
    animation-delay: 2.5s;
  }
 

